<!DOCTYPE html>



<htm lang="en" xmlns="http://w3.org/1999.html">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Gro-Bot</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css" rel="stylesheet">

        <style>
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
            }

            li {
                float: left;
            }

                li a {
                    display: block;
                    color: white;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                }

                    li a:hover:not(.active) {
                        background-color: #4CAF50;
                    }

            .active {
                background-color: #4CAF50;
            }
        </style>

    </head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top"  style="background-color: darkgreen ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    @*<span class="icon-bar"></span>*@
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="horizontal">
                    <li><a href="~/Home/Index">Gro-bot</a></li>
                    <li><a href="~/Home/About">About</a></li>
                    <li><a href="~/Home/Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Green Eden</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
