@model Gro_bot.Models.ExistingGarden

@{
    ViewBag.Title = "Manage Garden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Your Garden Health</title>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/FirebaseScript.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    @*<link href="~/Content/" rel="stylesheet" />*@
    <style>


        .Green {
            background-color: #3be26a;
            color: white;
        }

        .GreenText {
            color: #3be26a;
        }

        .Red {
            background-color: #f70919;
            color: white;
        }

        .RedText {
            color: #f70919;
        }

        .largeText {
            font-size: 25px;
        }

        .needAttention {
            background-color: red;
            color:white
        }

        .healthy {
            background-color: green;
            color: white
        }
    </style>
</head>

<body>
    <!--Modal to add new tool-->
    <div class="modal fade" id="myCyclesModal" style="z-index:299999;" tabindex="-1" role="dialog" aria-labelledby="myCyclesModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myCyclesModalLabel">Tool Cycle Tracking</h4>
                </div>
                <div class="modal-body well-sm">
                    <div id="stuffToolUI">put stuff here</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="visible-lg-inline-block" style="text-align: center"><img src="~/Content/Images/GrobotLogo.png" title="Gro-Bot" /></div>

        <div class="visible-lg-inline-block">
            <h1>
                Your Garden
            </h1>
        </div>
    </div>
    <hr />

    <!--Form to input tool's field values, the field list is different for different types-->
    <form id="YourGardenForm" @*style="margin-left: 2em"*@ autocomplete="off">

        @*<input type="text" id="name">
            <input type="text" id="mobile">
            <input type="text" id="email">

            <button type="button" id="button">Submit</button>*@
    </form>

    <div class="container-fluid main">
        <div class="row text-center">

            @if (Model.gardenID != null)
            {
                
                <span class="largeText">
                    <strong>Bed: </strong>@Model.gardenName
                </span>
                <br />
                <span class="largeText">
                    <strong>Current plant type: </strong>@Model.plantTypeName
                </span>
                <br />

                <span class="largeText">
                    Progress: @Model.currentDay/@Model.plantTypeCycle days
                </span>
                <br />
                <div class="progress center-block" style="width: 50%">
                    <div class="progress-bar progress-bar-striped active bg-success" role="progressbar" style="width:@Model.progress%" aria-valuenow=@Model.currentDay aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            }
        </div><br /><br /><br /><br />

        <div class="row">

            <div class="col-lg-3"></div>
            <div class="col-lg-6 col-md-12">
                <table id="tbl" class="table table-hover table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            <td class="text-center">
                                Temperature  <i class='fas fa-temperature-high'></i>
                            </td>
                            <td id="temp" class="text-center ">@*@Model.temperature*@
                                @*<iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1006409/widgets/172652"></iframe>*@
                                <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1006409/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
                            </td>
                           
                            @*<td class="text-center" id="noteTemp"></td>*@
                        </tr>
                        <tr>
                            <td class="text-center">
                                Moisture  <i class='fas fa-tint'></i>
                            </td>
                            <td id="moisture" class="text-center ">@*@Model.moisture*@
                                @*<iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1006409/widgets/172766"></iframe>*@
                                <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1006409/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
                            </td>
                            @*<td class="text-center" id="noteMoisture"></td>*@
                        </tr>
                        <tr>
                            <td class="text-center">
                                Light  <i class='fas fa-cloud-sun'></i>
                            </td>
                            <td id="light" class="text-center ">@*@Model.light*@
                                @*<iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1006409/widgets/172767"></iframe>*@
                                <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1006409/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
                            </td>
                            @*<td class="text-center" id="noteLight"></td>*@
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <a class="btn btn-info" href="https://thingspeak.com/channels/1006409" target="_blank">
            See more on ThingSpeak channel
        </a>
    </div>

    <hr />



    @section scripts
    {

        <script type="text/javascript">

            setTimeout(function(){
                    window.location.href = "/Grobot/ManageGarden";
            }, 60000)

            var myTemp = $('#temp').text();
            var myMoisture = $('#moisture').text();
            //var myLight = $('#light').text();
            var lowestTemp = @Model.lowestTemp;
            var highestTemp = @Model.highestTemp;

            

            function reloadPage() {
                var locPage = "/Grobot/ManageGarden";
                window.location.href = locPage;
            }

            function compareFeedback(temp,moisture,light) {
                if (temp < @Model.lowestTemp) {
                    $('#temp').removeClass('healthy');
                    $('#temp').addClass('needAttention');
                    $('#noteTemp').addClass('text-danger');
                    $('#noteTemp').text('Low Temperature')
                }
                else if (temp > @Model.highestTemp) {
                    $('#temp').removeClass('healthy');
                    $('#temp').addClass('needAttention');
                    $('#noteTemp').addClass('text-danger');
                    $('#noteTemp').text('High Temperature')
                }

                if (moisture < @Model.lowestMoisture) {
                    $('#moisture').removeClass('healthy');
                    $('#moisture').addClass('needAttention');
                    $('#noteMoisture').addClass('text-danger');
                    $('#noteMosture').text('Too Dry')
                }
                else if (moisture > @Model.highestMoisture) {
                    $('#moisture').removeClass('healthy');
                    $('#moisture').addClass('needAttention');
                    $('#noteMoisture').addClass('text-danger');
                    $('#noteMoisture').text('Too Wet')
                }

            }

            

            $(document).ready(function () {
                //compareFeedback(myTemp, myMoisture);
            })
        </script>


    }

</body>
</html>


